<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>ServizioNavetta</display-name>
	<servlet>
		<servlet-name>Home</servlet-name>
		<servlet-class>controller.Home</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern></url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Home</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>MakeRegistration</servlet-name>
		<servlet-class>controller.MakeRegistration</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MakeRegistration</servlet-name>
		<url-pattern>/makeRegistration</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>IscriviStudente</servlet-name>
		<servlet-class>controller.IscriviStudente</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>IscriviStudente</servlet-name>
		<url-pattern>/inviaDatiStudente</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ModuloIscrizione</servlet-name>
		<servlet-class>controller.ModuloIscrizione</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ModuloIscrizione</servlet-name>
		<url-pattern>/moduloIscrizione</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DammiQR</servlet-name>
		<servlet-class>controller.DammiQR</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DammiQR</servlet-name>
		<url-pattern>/generaCodice</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>controller.doLogin</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/doLogin</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DriverRegisterMediator</servlet-name>
		<servlet-class>controller.DriverRegisterMediator</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DriverRegisterMediator</servlet-name>
		<url-pattern>/driverRegisterMediator</url-pattern>
	</servlet-mapping>

</web-app>